@using Portfolio.Models
@namespace Portfolio.Components.Elements

<Card>
    
    @if (!string.IsNullOrEmpty(Project.ImageUrl))
    {
        <CardImage Src="@Project.ImageUrl" Alt="@Project.Title" Style="max-height: 10vh; object-fit: cover; object-position: top"/>
    }
    
    <CardBody>
        <Heading Size="HeadingSize.Is3">@Project.Title</Heading>
        <Paragraph>@Project.Summary</Paragraph>
        @if (!string.IsNullOrEmpty(Project.ProjectUrl))
        {
            <Button Color="Color.Primary" Type="ButtonType.Link" To="@Project.ProjectUrl" Target="Target.Blank" Class="mx-2">View Project</Button>
        }
        <Button Color="Color.Secondary" Type="ButtonType.Link" To="@("/portfolio/" + Project.Slug)" Class="mx-2">View Details</Button>
    </CardBody>
    
</Card>

@code {
    
    [Parameter]
    public required PortfolioProject Project { get; set; }
    
}